*{
    background-color: black;
}

#divv {
    width: 50%;
    margin-left: 25%;
    color: white;
    font-family: "Libre Baskerville", serif;
    font-style: italic;
    text-align: center;
    margin-top: 4rem;
}

img{
    width: 100%;
    border: 5px solid white ;
}